include *.txt *.rst *.yml LICENSE tox.ini .coveragerc docs/Makefile docs/make.bat docs/conf.py
recursive-include examples *.py
recursive-include tests *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs *.ico
recursive-include docs *.png
recursive-include docs *.xcf
prune docs/_build
