# Packages needed for upload to PyPI. Works with the index servers and
# credentials in ~/.pypirc.
#
# python setup.py sdist bdist_wheel
#
# twine upload -r test -s dist/nfcpy-x.y.z*
#
# twine upload -r pypi -s dist/nfcpy-x.y.z*
#
setuptools
wheel
twine
six
